.Dictionary h4 {
font-size: bold;
}

.Dictionary form {
margin: 30px;
}

.Dictionary section {
background: white;
padding: 30px;
border-radius:5px;
box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
margin: 20px 0;
}

.Dictionary input {
width: 100%;
border: 1px solid #ddd;
border-radius: 5px;
padding: 5px 20px;
color: #333;
}